<!-- <div *ngFor="let student of studentList">
  <app-student [student]="student" (notifyDelete)="deleteStudent($event)"></app-student>
</div> -->
<table mat-table [dataSource]="studentList" class="mat-elevation-z8" style="margin-right: 300px;">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> 
        <!-- <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" class="rounded-image"> -->
        <img mat-card-avatar src="assets/images/{{element.img}}" alt="Avatar" class="rounded-image">
      </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let element"> 
        <a routerLink="/student/{{element.id}}"> {{element.firstname}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> LastName </th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/student/{{element.id}}"> {{element.lastname}} </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>