// @import '../../../styles/card.scss';

// .ticket {
//   width: 100%;
// }

// .ticket:hover {
//   cursor: pointer;
// }

.ticket {
  width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}