<!-- <div class="card ticket">
  <button style="margin-left: 70%;" (click)="changeArchiveStateTicket()">
    {{ticket.archived ? 'Unarchive' : 'Archive'}}
  </button>
  <h3>Title : {{ticket.title}}</h3>
  <span>
    <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  </span>
  <span>
    <i class="far fa-user"></i> {{ticket.student.id}} - {{ticket.student.firstname}} {{ticket.student.lastname}}
  </span>
  <div style="margin-top: 20px;">
    <div [ngSwitch]="ticket.major">
      <div *ngSwitchCase="'SI'"><i class="fa fa-briefcase" aria-hidden="true"></i> {{ticket.major}}</div>
      <div *ngSwitchCase="'GE'"><i class="fa fa-book" aria-hidden="true"></i> {{ticket.major}}</div>
      <div *ngSwitchCase="'GB'"><i class="fa fa-camera-retro" aria-hidden="true"></i> {{ticket.major}}</div>
    </div>
  </div>
</div> -->
<mat-card class="mat-elevation-z4 ticket">
  <mat-card-header>
    <mat-card-title>{{ticket.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span style="display: block; text-align: center;">
        <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
      </span>
      <span style="margin-top: 20px; display: block; text-align: center;">
        <i class="far fa-user"></i> {{ticket.student.id}} - {{ticket.student.firstname}} {{ticket.student.lastname}}
      </span>
      <span style="margin-top: 20px; display: block; text-align: center;">
        <span [ngSwitch]="ticket.major">
          <span *ngSwitchCase="'SI'"><i class="fa fa-briefcase" aria-hidden="true"></i> {{ticket.major}}</span>
          <div *ngSwitchCase="'GE'"><i class="fa fa-book" aria-hidden="true"></i> {{ticket.major}}</div>
          <div *ngSwitchCase="'GB'"><i class="fa fa-camera-retro" aria-hidden="true"></i> {{ticket.major}}</div>
        </span>
      </span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="changeArchiveStateTicket()">{{ticket.archived ? 'Unarchive' : 'Archive'}}</button>
    <button mat-raised-button color="warn" (click)="delete()"> Delete </button>
  </mat-card-actions>
</mat-card>