// @import '../../../styles/card.scss';

// .ticket {
//   width: 100%;
// }

// .ticket:hover {
//   cursor: pointer;
// }
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
