<h3>Create a new ticket</h3>
<form class="ticket-form" [formGroup]="ticketForm">
  <label for="title">
    Title <br>
    <input class="input-custom" type="text" id="title" [formControlName]="'title'">
  </label>
  <br>
  <label for="description">
    Description <br>
    <input class="input-custom" type="text" id="description" [formControlName]="'description'">
  </label>
  <br>
  <label for="major">
    Major <br>
  </label>
    <select name="major-field" id="major" [formControlName]="'major'">
      <option *ngFor="let item of MAJORS_LIST" [value]="item">{{ item }}</option>
  </select>
  <br>
  <label for="student">
    Student <br>
  </label>
    <select name="studentId-field" id="studentId" [formControlName]="'studentId'">
      <option *ngFor="let item of STUDENTS_LIST" [value]="item.id">
        {{ item.id }} - {{ item.firstname }} {{ item.lastname }}
      </option>
  </select>
  <br>
  <button type="submit" class="btn-custom" (click)="addTicket()">Create</button>
</form>

<!-- Uncomment below to see your form structure and how it changes-->
<!--<br><br>{{ticketForm.getRawValue() | json}}-->
