<div class="ticket-list">
    <button type="button" (click)="toggleDisplayTicketArchived()">
    <span *ngIf="displayTicketArchived; else elseBlock">
      Hide archived tickets
    </span>
    <ng-template #elseBlock>
      Show archived tickets
    </ng-template>
  </button>
  <div class="ticket" *ngFor="let ticket of ticketList">
      <!--Inputs & Output allow communication between parent & child components.-->
      <!--More information: https://angular.io/guide/component-interaction-->
      <span *ngIf="ticket.archived == displayTicketArchived">
        <app-ticket 
        [ticket]="ticket" 
        (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
        (notifyDelete)="deleteTicket($event)"></app-ticket>
      </span>
  </div>
</div>
