<div class="ticket-list">
  <mat-slide-toggle [(ngModel)]="displayTicketArchived">Show Archived Tickets</mat-slide-toggle>
  <!-- <button type="button" (click)="toggleDisplayTicketArchived()">
    <span *ngIf="displayTicketArchived; else elseBlock">
      Hide archived tickets
    </span>
    <ng-template #elseBlock>
      Show archived tickets
    </ng-template>
  </button> -->
  <div *ngFor="let ticket of ticketList">
      <span *ngIf="ticket.archived == displayTicketArchived" >
        <app-ticket [ticket]="ticket"></app-ticket>
      </span>
  </div>
</div>
